



<!--  start --->
{% extends 'posts/base.html' %}

{% load static %}
{% block content %}
<style type="text/css">
      #a1{
font-family: 'Permanent Marker', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Pacifico', cursive;
}
#b1
{
      font-family: 'Permanent Marker', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Great Vibes', cursive;
}

body {
  background-image: url('https://cdn.dribbble.com/users/722246/screenshots/11096994/media/abcf2fe91c135bbaec19a3816dd0a992.gif');
  background-repeat: repeat-y;
  background-size: 100vw 100vh;
  margin-top: 0vw;
}
#i1
{
	margin-left: 13vw;
	width: 78vw;
}
#i2
{
	margin-left: 10vw;
	width: 81vw;
}
 #i1
  {
       background-color :#3F729B;
      color :white;
      box-shadow: 3px 6px #000066;
      text-align :center;
  }
  #send1
  {


      box-shadow: 2px 4px #ff3300;

  }
   #rec1
  {

      box-shadow: 2px 4px #006600;
  }
@media only screen and (max-width: 900px) {
  #i1{

   margin-left: 13vw;
   width: 75vw;
   font-size: 0.7em;
   text-align: center;
  }
  #i2
{
	margin-left: 2vw;
	width: 85vw;
}
}


</style>
<body>
<h3 id="i1" class="alert alert-success">PRIVATE CHAT</h3>
<ul id="i2">


{% for message  in mylist  %}


			 {% if message.sender == user %}

					<div id = "send1" class="alert alert-warning">
					<b><p>Sender  :  {{message.sender}}(you)</p></b>
						<br>
					{% if message.title %}
				<p>		Message sent  :  {{message.title}}</p>
					<br>
					{% endif %}


					{% if message.receiver %}
					<b><p>Receiver :  {{message.receiver}}</p></b>
					<br>
				<p>	Time :  {{message.date1}} GMT + 5:30</p>
						</div>
					{% endif %}




			 {% else %}
					<div id = "rec1" class="alert alert-success">
					<b><p>Sender : {{message.sender}}</p></b>
					<br>
					{% if message.title %}
				<p>	Message received : {{message.title}}</p>
					<br>
					{% endif %}

					{% if message.receiver %}
					<b><p>Receiver :  {{message.receiver}} (you)<p/></b>
					<br>
				<p>	Time  :  {{message.date1}} GMT + 5:30</p>

					</div>
					{% endif %}
				{% endif %}


{% endfor %}




</ul>
<body>

{% endblock %}