


{% extends 'posts/base.html' %}

{% block content %}



<style type="text/css">
  .d
  {
    display: flex
      align-self: top;

         padding-left: 10vw;

  }


body {
  background-image: url('https://cdn.dribbble.com/users/722246/screenshots/11096994/media/abcf2fe91c135bbaec19a3816dd0a992.gif');
  background-repeat: repeat-y;
  background-size: 100vw 100vh;
  margin-top: 0vw;
}
#error
{
  color: red;
}

 #t
  {
       background-color :#3F729B;
      color :white;
      box-shadow: 3px 6px #000066;
      align-content: center;
  }

    #tit
    {
      margin-top: 0vh;
      margin-left: -5vw;
      color: white;
      font-size: 2em;
    }
       #id_receiver{
        margin-top: -4vh;
        margin-left: 15vw;
        width :55vw;
        height :10vh;
        color:white;
        font-size:1.5em;
        background-color :#009933;
        box-shadow: 2px 4px white;
    }
    #des
    {
      margin-top: 20vh;
      margin-left: -5vw;
      color: white;
      font-size: 2em;

    }

    #id_title{
        margin-top:-14vh;
        margin-left:15vw;
        width :55vw;
        height :40vh;
        font-size:1.5m;
        background-color :#009933;
        color :white;
        box-shadow: 2px 4px white;
    }
      #bt1
  {
    margin-top: 5vh;
    margin-left :30vw;
    font-size: 2em;
    background-color:blue;
    color:white;
  }



@media only screen and (max-width: 800px) {


    #t
    {
        font-size:0.7em;
         background-color :#3F729B;
      color :white;
      box-shadow: 2px 4px #000066;
    }





     #tit
    {
      margin-top: 5vh;
      margin-left: -5vw;
      color: white;
      font-size: 2em;
    }
       #id_receiver{
        margin-top: 2vh;
        margin-left: -5vw;
        width :80vw;
        height :10vh;
        color:white;
        font-size:1.5em;
        background-color :#009933;
        box-shadow: 2px 4px white;
    }
    #des
    {
      margin-top: 2vh;
      margin-left: 0vw;
      color: white;
      font-size: 2em;

    }

    #id_title{
        margin-top:2vh;
        margin-left:-5vw;
        width :80vw;
        height :40vh;
        font-size:1.5m;
        background-color :#009933;
        color :white;
        box-shadow: 2px 4px white;
    }
      #bt1
  {
    margin-top: 2vh;
    margin-left :20vw;
    font-size: 1.5em;
    background-color:blue;
    color:white;
  }


}
</style>

<div class="container text-center">
<h1 id="t" class="alert alert-success">SEND PRIVATE MESSAGE</h1>
</div>














<div class="d">
    <p id ="error"> {{error}}</p>
<form method="POST">
{% csrf_token %}


                 <h3 id="tit" >To</h3>
                  {{form.receiver}}

                 <h3 id="des" >Message</h3>
                 {{form.title}}




                  <button id="bt1" class="btn btn-success" type="submit">SEND</button>

</form>
</div>





{% endblock %}
