
{% extends 'todo/base_todo.html' %}

{% block content %}



<style type="text/css">
	.d
	{
		display: flex
			align-self: top;

         padding-left: 20vw;
	}


body {
  background-image: url('https://cdn.dribbble.com/users/722246/screenshots/11096994/media/abcf2fe91c135bbaec19a3816dd0a992.gif');
  background-repeat: repeat-y;
  background-size: 100vw 100vh;
  margin-top: 0vw;
}

#i4
{
	color: white;
	margin-top :2vw;
}
  #i2{
   width: 50vw;
   margin-left: 30vw;
   color :white;

  }
  #i3
  {
  	 width: 50vw;
   margin-left: 30vw;
   color :white;
  }
@media only screen and (max-width: 800px) {
  #i2{
   width: 80vw;
   margin-left: -10vw;
   color :white;
  }
  #i3
  {
  	 width: 80vw;
   margin-left: -10vw;
   color :white;
  }
}
</style>


	<div class="container text-center">
		<h1 class="alert alert-success">Create To-do</h1>
	</div>
				<div class ="d">

					<h2>{{error}}</h2>






			<form method="POST">
				{% csrf_token %}


						  <div class="form-group row">
							    <label for="staticEmail" id="i4" class="col-sm-2 col-form-label">Title</label>
							    <div id = "i3" class="col-sm-10">
							      {{form.title}}
							    </div>
							  </div>
							  <div class="form-group row">
							    <label for="inputPassword" id="i4" class="col-sm-2 col-form-label">Description</label>
							    <div id="i2" class="col-sm-10">
							     	{{form.memo}}
							    </div>

								<div id= "i4" class="form-check">
							      {{form.important}}
							  <label class="form-check-label" for="defaultCheck1">
							    Important
							  </label>
								</div>

						 	 </div>

				<button class="btn btn-success" type="submit">create</button>
			</form>
</div>
{% endblock %}
