{% extends 'posts/base.html' %}

{% block content %}

<style type="text/css">

.f{
  color:blue;
}
.d
  {
    display: flex
    position:relative;
      align-self: center;

          margin-left: auto;
          margin-right: auto;
  }
.g{
  color:red;
}
body {
  background-image: url('https://cdn.dribbble.com/users/722246/screenshots/11096994/media/abcf2fe91c135bbaec19a3816dd0a992.gif');
  background-repeat: repeat-y;
  background-size: 100vw 100vh;

  margin-top: auto;
}
#i1{
   width: 28rem;
   margin-left: 30vw;
  }
@media only screen and (max-width: 900px) {
  #i1{
   width: 90vw;
   margin-left: -2vw;
  }
  .f
  {
      font-size:0.7em;
  }
.g
{
    font-size:0.7em;
}

}

</style>
<body>

<h4 class="g">{{error}}</h4>
<form method="POST">
    {% csrf_token %}
 <!--Section: Live preview-->
 <div class="d">
<section class="form-dark">

  <!--Form without header-->
  <div id="i1" class="card card-image"
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg');">
    <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">

      <!--Header-->
      <div class="text-center">
        <h4  class="alert alert-success" class="white-text mb-5 mt-4 font-weight-bold" ><strong>SIGNUP</strong> </h4>
      </div>

      <!--Body-->
      <div class="md-form">
        <h5 class="f">username (space not allowed in username)</h5>
        <label for="Form-email5">{{form.username}}</label>
      </div>

      <div class="md-form pb-3">
        <h5 class="f"> Password</h5>
        <label for="Form-pass5">{{form.password1}}</label>

      </div>
      <div class="md-form pb-3">
        <h5 class="f">Verify Password</h5>
        <label for="Form-pass5">{{form.password2}}</label>

      </div>

      <!--Grid row-->
      <div class="row d-flex align-items-center mb-4">

        <!--Grid column-->
        <div class="text-center mb-3 col-md-12">
          <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Sign Up</button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

      <!--Grid column-->
      <div class="col-md-12">



        <p class="font-small white-text d-flex justify-content-end"><h4 class="g" >Have an account?</h4> <a href="{%url 'loginuser' %}"

            class="green-text ml-1 font-weight-bold"><h3 class="g"> Log in</h3></a></p>
      </div>
      <!--Grid column-->

    </div>
  </div>
  <!--/Form without header-->

</section>
<!--Section: Live preview-->
</form>
</div>
</body>
{% endblock %}